$primary-background-color: #FFFFFF;
$secondary-background-color: #202020;

$primary-font: 'Roboto';
$secondary-font: 'TTFirsNeue';

$primary-font-color: #FFFFFF;
$secondary-font-color: #202020;
$decoration-font-color: #CACACA;
$decoration-font-date-color: #999;

$primary-decoration-color: #FF6E30;
$secondary-decoration-color: #BC572B;
$active-focus-decoration-color: #CE4307;

$primary-input-color: #4A4A4A;
$secondary-input-color: #E9E9E9;
$error-input-color: #F06666;

$primary-social-link-fill: #CACACA;
$primary-search-link-fill: #FFFFFF;
$primary-search-close-fill: #808080;


$article-focus-color: #FFD4C1;

$primary-mobile-footer-background: #4A4A4A;

$gap: 30px;
